 h1 {
     color: #1abc9c;
     /* color: #397262; */
     /* font-family:  'Raleway'; */
     font-weight: normal;
     font-size: 1.75em;
     letter-spacing: .2em;
     line-height: 1.1em;
     margin:0px;
     text-align: center;
     text-transform: uppercase;
 }

 #chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}


.navbar-brand {
	height: 60px;
    padding: 5px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#reset-button, #play-button, #slider-div {
	float: left;
    margin-right:10px;
    visibility: hidden;
}

#slider-div {
	width:300px;
	margin-left:10px;
}

#reset-button, #play-button {
	margin-top: 5px;
    margin-bottom:10px;
    visibility: hidden;
}

#sector-select {
	width: 150px;
	float:right;
    margin-top:5px;
    visibility: hidden;
}

#legend {
    position: absolute;
    bottom: 400px;
}

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #35281d;
    background: #fff;
    opacity: .9;
    color: #35281d;
    padding: 10px;
    width: fit-content;
    font-size: .8rem;
    z-index: 10;
}

.tooltip .title{
    font-size: 1rem;
}

.tooltip .name {
    font-size: .8rem;
    font-weight: bold;
}

.tooltip span {
    color: #35281d;
}